<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Página Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página Principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Bem-vindo ao nosso Projeto!</h1>
  <p>Use o botão abaixo para pesquisar o CEP.</p>

  <ion-button expand="block" routerLink="/cep" color="secondary">
    Consultar CEP
  </ion-button>
</ion-content>